* {
    padding: 0;
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    -webkit-tap-highlight-color: transparent;
}
.body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-areas: 
    "main"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }
@keyframes translate-background-header {
    0%{
        background-position: 0px;
    }
    100% {
        background-position: 100px;
    }
}
.header {
    width: 100%;
    background: rgb(44, 42, 42);
    /* background: linear-gradient(90deg,   rgb(72, 219, 151) 25%, rgb(0, 30, 48) 25% ,  rgb(0, 30, 48) 50%, rgb(72, 219, 151) 50%, rgb(72, 219, 151) 75%, rgb(0, 30, 48)75%, rgb(0, 30, 48) 100%);
    background-size: 100px 100px;
    animation-name: translate-background-header;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-fill-mode: none;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-direction: normal; */
    position: fixed;
    top: 0;
    z-index: 999999;
}
.header--scroll {
    box-shadow: 0 0 5px 0 black;
}
.header-nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0.3rem 0.5rem;
    backdrop-filter: blur(0.5rem);
}
.header-nav__logo-container {
    width: 3rem;
}
.header-nav__logo {
    width: 100%;
}
.header-nav__buttom-menu-container {
    display: flex;
    align-items: center;
    
}
.header-nav__buttom-menu {
    border: none;
    width: 2.5rem;
    height: 2.5rem;
    background-color:gold;
    filter: drop-shadow(0 0 5px rgb(62, 65, 63));
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    cursor: pointer;
}
.header-nav__buttom-menu-filter {
    scale: 1.1;
    background-color:rgb(75, 75, 75);
}
.header-nav__buttom-menu__item {
    width: 1.7rem;
    height: 0.28rem;
    background: rgb(44, 42, 42);
    position: absolute;
    border-radius: 0.5rem;
    transform:  translateY(calc(var(--y) * 10px));
    transition: box-shadow 0.5s , border-radius 0.5s , width 0.5s , height 0.5s , filter 0.5s;

}
.header-nav__buttom-menu__item-filter {
    width: 0.5rem ;
    height: 0.5rem ;
    background: gold;
    filter: drop-shadow(0 0 5px gold);
    box-shadow:10px 0px 0 0  rgb(44, 42, 42),
    -10px  0px 0 0  rgb(44, 42, 42);
    transition-delay:1s, 1s , 0s ,  0.5s ,  1.5s;
}
.header-nav__buttom-menu__item-filter:nth-child(2) {
    background: rgb(44, 42, 42);
    box-shadow:10px 0px 0 0 gold ,
    -10px  0px 0 0 gold;
}
.header-nav__link-list-close {
    display: grid;
    position: absolute;
    flex-direction: column;
    top: 63.59px;
    background-color: transparent;
    left: 0;
    transform: translateX(-101%);
    grid-template-areas: 
    "taller1"
    "taller2"
    "taller3"
    "taller4";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 100%;
    transition: all 0.5s;
}
.header-nav__link-list-open {
    transform: translateX(0%);
}
.header-nav__link-element {
    list-style: none;
    display: flex;
    background-color: gold;
    padding: 0.9rem 0.5rem;
    box-sizing: border-box;
    align-items: center;
    box-shadow: 0 0 0 0.1rem  rgb(44, 42, 42);
    width: 100%;
    transition: var(--time-delay);
    transition-timing-function: ease-in-out;
}
.header-nav__link-element:nth-child(1) {
    transform: translateX(-100%);
    
}
.header-nav__link-element:nth-child(2) {
    transform: translateX(-100%);
   
}
.header-nav__link-element:nth-child(3) {
    transform: translateX(-100%);
  
}
.header-nav__link-element:nth-child(4) {
    transform: translateX(-100%);
 
}
.header-nav__link-list-open .header-nav__link-element:nth-child(1) {
    transform: translateX(0%);
    
}
.header-nav__link-list-open .header-nav__link-element:nth-child(2) {
    transform: translateX(0%);
}
.header-nav__link-list-open .header-nav__link-element:nth-child(3) {
    transform: translateX(0%);
}
.header-nav__link-list-open .header-nav__link-element:nth-child(4) {
    transform: translateX(0%);
}
.header-nav__link-list-open .header-nav__link-element {
    transition-timing-function: cubic-bezier(0.48, -1.63, 0.42, 2.63);
}
.header-nav__link {
    text-decoration: none;
    display: grid;
    grid-template-areas: 
    "link-icon link-info";
    grid-template-columns: 85px auto;
    grid-template-rows: 1fr;
    gap: 0.3rem;
}
.header-nav__link__icons-container {
    grid-area: link-icon;
    display: grid;
    grid-template-areas: 
    "link-icon1 link-icon1"
    "link-icon3 link-icon2";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.2rem;
}
.header-nav__link__icons:first-child {
    grid-area: link-icon1;    
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-nav__link__icons:nth-child(2) {
    grid-area: link-icon2;
    align-items: flex-start;
 
}
.header-nav__link__icons:last-child {
    grid-area: link-icon3;
    align-items: flex-start;
    display: flex;
    justify-content: center;
}
.header-nav__link__icons {
    font-size: 2.2rem;
    color:rgb(44, 42, 42);
}

.header-nav__link-contents {
    grid-area: link-info;
    display: flex;
    flex-direction: column;
}
.header-nav__link__subtitle {
    color: rgb(44, 42, 42);
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 1rem;
}
.header-nav__link__title {
    color: rgb(44, 42, 42);
    font-size: 1.3rem;
}
.header-nav__link__paragraph {
    color: rgb(44, 42, 42);
    font-size: 0.84rem;
}
/*? ----------------------------Main------------------------- */
.main{
    grid-area: main;
    padding: 68px 1rem 1rem 1Rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;  
}   
.main__title {
    font-size: 1.5rem;
    font-weight:900;
    line-height: 1.9rem;
    text-transform: uppercase;
}
.figure-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.figure__subtitle {
    font-size: 1rem; 
    color: rgb(37, 37, 37);
    font-weight: 700;
    margin-left: 5px;
    position: relative;
}
.figure__subtitle::after {
    content: "";
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    background-color: rgb(49, 48, 48);
    top: 50%;
    transform: translateY(-50%);
    left: -10px;

}
.figure__calculation-container {
    display: grid;
    background: rgb(44, 42, 42);
    border-radius: 1rem;
    padding: 1rem 0.5rem 1rem 1rem;
    color: white;
    row-gap: 0.5rem;
    position: relative;
    grid-template-areas: 
    "areaInput areaFigure"
    "areaButton areaButton"
    "areaResultado areaResultado";
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}
.figure2__calculation-container {
    grid-template-areas: 
    "areaInput areaFigure"
    "areaInput areaButton"
    "areaResultado areaResultado";
    grid-template-columns: auto auto;
    grid-template-rows: 9rem 11rem auto;
}
.figure3__calculation-container {
    grid-template-areas: 
    "areaInput areaFigure"
    "areaInput areaButton"
    "areaResultado areaResultado";
    grid-template-columns: auto auto;
    grid-template-rows: 9rem 14rem auto;
}
.figure4__calculation-container {
    grid-template-areas: 
    "areaInput areaFigure"
    "areaInput areaButton"
    "areaResultado areaResultado";
    grid-template-columns: auto auto;
    grid-template-rows: 8rem 9rem auto;
}
.figure__calculation-form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 0.5rem;
}
.calculation__info {
    margin-top: 0.5rem;
}
.calculation__valor {
    width: 2rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border: none;
    padding: 0.2rem 0.5rem;
    align-self: flex-start;
    background-color:  var(--clr);
    position: relative;
}
.calculation__valor:focus-visible {
    outline: none;
    border: none;
}
.calculation__valor-medida {
    position: absolute;
    color: #bdc1c6;
    background: url(//ssl.gstatic.com/ui/v1/disclosure/grey-disclosure-arrow-up-down.png) 100% no-repeat #303134;
    background-position: 90% 50%;
    border: 1px solid #3c4043;
    font-size: 0.9rem;
    padding: 0.09rem 1rem 0.1rem 0.5rem;
    vertical-align: middle;
    line-height: 1.37rem;
    -webkit-appearance: none;
    appearance: none;
    width: min-content;
}
.calculation__valor-medida-equalize {
    width: min-content;
    border-radius: 0 0 2px 2px;
    color: #bdc1c6;
    background: #303134;
    border: 1px solid #3c4043;
    font-size: 0.9rem;
    padding: 0.09rem 0.5rem 0.1rem 0.5rem;
    position: absolute;
    line-height: 1.37rem;
}
.calculation__valor-medida:focus-visible {
    outline: none;

}
/*! -------------------------Main-Fifure-3d-Cuvo-------------------- */
@keyframes rotateEjeY {
    0% {
        transform: rotateX(-30deg) rotateY(0) ;

    }
    100% {
        transform: rotateX(-30deg) rotateY(360deg) ;
    }
}
.calculation__figure-cuvo-3d {
    display: flex;
    width: 4.5rem;
    height: 4.5rem;
    background-color: transparent;
    /* rgb(255, 0, 106) */
    transform-style: preserve-3d;
    position: relative;
    animation-name: rotateEjeY;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
    margin-top: 1.4rem;
    margin-bottom: 2rem;
    align-self: center;
}
.calculation__figure-cuvo-3d-element {
    position: absolute;
    width: 4.5rem;
    height: 4.5rem;
}
.calculation__figure-cuvo-3d-element:first-child {
    background: linear-gradient(to top,  var(--clr), #151515);
    transform: translateZ(calc(4.5rem /2));
    transform-style: preserve-3d;
}
.calculation__figure-cuvo-3d-element:first-child::after {
    content: "";
    background: linear-gradient(to top,  var(--clr), #151515);
    width: 4.5rem;
    height: 4.5rem;
    position: absolute;
    transform: translateZ(-4.5rem);
}
.calculation__figure-cuvo-3d-element:last-child {
    background: linear-gradient(to top,  var(--clr), #151515);
    transform: translateX(calc(4.5rem /2)) rotateY(90deg);
    transform-style: preserve-3d;
    
}
.calculation__figure-cuvo-3d-element:last-child::after {
    content: "";
    background: linear-gradient(to top,  var(--clr), #151515);
    width: 4.5rem;
    height: 4.5rem;
    position: absolute;
    transform:  rotateY(180deg) translateZ(4.5rem);
    
}
.calculation__figure-cuvo-3d-element:nth-child(2) {
    background-color: #151515;
    transform: translateY(calc(-4.5rem /2)) rotateX(90deg);
    transform-style: preserve-3d;
}
.calculation__figure-cuvo-3d-element:nth-child(2)::after {
    background-color:  var(--clr);
    content: "";
    width: 4.5rem;
    height: 4.5rem;
    position: absolute;
    transform: translateZ(-5.5rem);
    filter: blur(1rem) drop-shadow(0 0 5px rgba(255, 0, 106, 0.027))
    drop-shadow(0 0 10px rgba(255, 0, 106, 0.425))
    drop-shadow(0 0 10px rgba(255, 0, 106, 0.616))
    drop-shadow(0 0 10px rgba(255, 0, 106, 0.616))
    drop-shadow(0 0 20px rgba(255, 0, 106, 0.616))
    drop-shadow(0 0 30px rgba(255, 0, 106, 0.808));
}
/*! -------------------------Main-Fifure-3d-Cuvo-------------------- */
/*! -----------------------Main-Figure-Cuadrado------------------------------------- */
.figure__cuadrado-container {
    display: flex;
    padding: 1rem;
}
.figure__cuadrado {
    position: absolute;
    width: 7rem;
    height: 7rem;
    background:  var(--clr);
    position: relative;
    border: 5px dashed rgb(37, 37, 37);
    box-shadow: 0 0 2px 0  var(--clr);
    filter: drop-shadow(0 0 5px  var(--clr));
}
.figure__cuadrado-element {
    position: absolute;
    color: white;
    line-height: 0.9rem;
    text-shadow:0px 0px 10px  var(--clr) ,
    0px 0px 10px  var(--clr), 
    0px 0px 10px  var(--clr),
    0px 0px 10px  var(--clr);
}
.figure__cuadrado-element:first-child {
    top: 50%;
    left: 0;
    transform: translateX(-200%) translateY(-55%);
}
.figure__cuadrado-element:last-child {
    top: 50%;
    right: 0;
    transform: translateX(200%) translateY(-55%);
}
.figure__cuadrado-element:nth-child(2) {
    top: 0;
    right: 50%;
    transform: translateX(55%) translateY(-150%);
}
.figure__cuadrado-element:nth-child(3) {
    bottom: 0;
    right: 50%;
    transform: translateX(55%) translateY(150%);
}
/*! -----------------------Main-Figure-Cuadrado-------------------------------------- */
/*! -------------------------Main-Fifure-3d-Prisma-------------------- */
@keyframes rotateEjeY {
    0% {
        transform: rotateX(-30deg) rotateY(0) ;

    }
    100% {
        transform: rotateX(-30deg) rotateY(360deg) ;
    }
}
.calculation__figure-prisma-3d {
    display: flex;
    width: 6.5rem;
    height: 4.5rem;
    background-color: transparent;
    /* rgb(255, 0, 106) */
    transform-style: preserve-3d;
    position: relative;
    animation-name: rotateEjeY;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
    margin-top: 2rem;
    margin-bottom: 2rem;
    align-self: center;
    right: -1rem;
}
.calculation__figure-prisma-3d-element {
    position: absolute;
}
.calculation__figure-prisma-3d-element:first-child {
    width: 6.5rem;
    height: 4.5rem;
    background: linear-gradient(to top,  var(--clr), #151515);
    transform: translateZ(calc(4.5rem /2));
    transform-style: preserve-3d;
}
.calculation__figure-prisma-3d-element:first-child::after {
    content: "";
    background: linear-gradient(to top,  var(--clr), #151515);
    width: 6.5rem;
    height: 4.5rem;
    position: absolute;
    transform: translateZ(-4.5rem);
}
.calculation__figure-prisma-3d-element:last-child {
    width: 4.5rem;
    height: 4.5rem;
    background: linear-gradient(to top,  var(--clr), #151515);
    transform: translateX(calc(8.5rem /2)) rotateY(90deg);
    transform-style: preserve-3d;
    
}
.calculation__figure-prisma-3d-element:last-child::after {
    content: "";
    background: linear-gradient(to top,  var(--clr), #151515);
    width: 4.5rem;
    height: 4.5rem;
    position: absolute;
    transform:  rotateY(180deg) translateZ(6.5rem);
    
}
.calculation__figure-prisma-3d-element:nth-child(2) {
    background-color: #151515;
    width: 6.5rem;
    height: 4.5rem;
    transform: translateY(calc(-4.5rem /2)) rotateX(90deg);
    transform-style: preserve-3d;
}
.calculation__figure-prisma-3d-element:nth-child(2)::after {
    background-color:  var(--clr);
    content: "";
    width: 6.5rem;
    height: 4.5rem;
    position: absolute;
    transform: translateZ(-5.5rem);
    filter: blur(1rem) drop-shadow(0 0 5px rgba(2255, 60, 0, 0.027))
    drop-shadow(0 0 10px rgba(255, 60, 0, 0.425))
    drop-shadow(0 0 10px rgba(255, 60, 0, 0.616))
    drop-shadow(0 0 10px rgba(255, 60, 0, 0.616))
    drop-shadow(0 0 20px rgba(255, 60, 0, 0.616))
    drop-shadow(0 0 30px rgba(255, 60, 0, 0.808));
}
/*! -------------------------Main-Fifure-3d-Prisma-------------------- */
/*! -----------------------Main-Figure-Rectangulo------------------------------------- */
.figure__rectangulo-container {
    display: flex;
    padding: 1rem;
}
.figure__rectangulo {
    position: absolute;
    width: 9rem;
    height: 7rem;
    background: var(--clr);
    position: relative;
    border: 5px dashed rgb(37, 37, 37);
    box-shadow: 0 0 2px 0 var(--clr);
    filter: drop-shadow(0 0 5px var(--clr));
}
.figure__rectangulo-element {
    position: absolute;
    color: white;
    line-height: 0.9rem;
    text-shadow:0px 0px 10px var(--clr) ,
    0px 0px 10px var(--clr), 
    0px 0px 10px var(--clr),
    0px 0px 10px var(--clr);
}
.figure__rectangulo-element:first-child {
    top: 50%;
    left: 0;
    transform: translateX(-200%) translateY(-55%);
}
.figure__rectangulo-element:last-child {
    top: 50%;
    right: 0;
    transform: translateX(200%) translateY(-55%);
}
.figure__rectangulo-element:nth-child(2) {
    top: 0;
    right: 50%;
    transform: translateX(55%) translateY(-150%);
}
.figure__rectangulo-element:nth-child(3) {
    bottom: 0;
    right: 50%;
    transform: translateX(55%) translateY(150%);
}
/*! -----------------------Main-Figure-Rectangulo-------------------------------------- */
/*! -------------------------Main-Fifure-3d-Piramide-------------------- */
@keyframes rotateEjeY {
    0% {
        transform: rotateX(-30deg) rotateY(0) ;

    }
    100% {
        transform: rotateX(-30deg) rotateY(360deg);
    }
}
.calculation__figure-piramide-3d {
    display: flex;
    width: 0;
    height: 0;
    border-bottom: 7rem solid rgba(255, 0, 106, 0);
    border-right: 4rem solid transparent;
    border-left: 4rem solid transparent;
    position: absolute;
    /* background-color: white; */
    transform-style: preserve-3d;
    position: relative;
    animation-name: rotateEjeY;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
    align-self: center;
    right: -1rem;
 } 
.calculation__figure-piramide-3d-element {
    position: absolute;
    width: 0;
    height: 0;
    border-right: 3rem solid transparent;
    border-left: 3rem solid transparent;
}
.calculation__figure-piramide-3d-element:first-child {
    border-bottom: 8rem solid rgb(1, 155, 175);
    /* -moz-border-image: -moz-linear-gradient(to top, rgb(255, 0, 106), #151515);
    -webkit-border-image: -webkit-linear-gradient(to top, rgb(255, 0, 106), #151515);
    border-image: linear-gradient(to top, rgb(255, 0, 106), #151515); */
    transform: translateZ(calc(2.9rem /2)) translateX(-50%) rotateX(22deg);
}
.calculation__figure-piramide-3d-element:last-child {
    border-bottom: 8rem solid rgb(1, 155, 175);
    transform: translateZ(calc(-2.9rem /2)) translateX(-50%) rotateX(-22deg);
    
}
.calculation__figure-piramide-3d-element:nth-child(2) {
    border-bottom: 8rem solid var(--clr);
    transform:  rotateY(90deg) rotateX(22deg)  translateZ(calc(-2.7rem /2)) translateY(-0.5rem);
    border-right: 2.95rem solid transparent;
    border-left: 2.95rem solid transparent;
}
.calculation__figure-piramide-3d-element:nth-child(3) {
    border-bottom: 8rem solid var(--clr);
    transform:  rotateY(90deg) rotateX(-22deg)  translateZ(calc(-8.26rem /2)) translateY(1.7rem);
    border-right: 2.95rem solid transparent;
    border-left: 2.95rem solid transparent;
}
.calculation__figure-piramide-3d-element:nth-child(4) {
    background-color: var(--clr);
    width: 0rem;
    height: 6rem;
    position: absolute;
    transform: translateX(-50%) rotateX(90deg) translateZ(-6rem);
    filter: blur(1rem) drop-shadow(0 0 5px rgba(255, 0, 106, 0.027))
    drop-shadow(0 0 10px rgba(75, 234, 255, 0.425))
    drop-shadow(0 0 10px rgba(75, 234, 255, 0.616))
    drop-shadow(0 0 10px rgba(75, 234, 255, 0.616))
    drop-shadow(0 0 20px rgba(75, 234, 255, 0.616))
    drop-shadow(0 0 30px rgba(75, 234, 255, 0.808));
}
/*! -------------------------Main-Fifure-3d-Piramide-------------------- */
/*! -----------------------Main-Figure-Triangulo------------------------------------- */
.figure__triangulo-container {
    display: flex;
    padding: 1rem 0rem 0 0 ;
    width: 0;
    height: 0;
    border-bottom: 7.9rem dashed rgb(37, 37, 37);
    border-right: 4.6rem dashed transparent;
    border-left: 4.6rem dashed transparent;
    position: relative;
    filter: drop-shadow(0 0 5px var(--clr));
    top: -1rem;
}
.figure__triangulo {
    width: 0;
    height: 0;
    border-bottom: 7rem solid var(--clr);
    border-right: 4rem solid transparent;
    border-left: 4rem solid transparent;
    position: absolute;
    transform: translateX(-50%) translateY(0.54rem);  
    

}
.figure__triangulo-element {
    position: absolute;
    color: white;
    line-height: 0.9rem;
    text-shadow:0px 0px 10px var(--clr) ,
    0px 0px 10px var(--clr), 
    0px 0px 10px var(--clr),
    0px 0px 10px var(--clr);
}
.figure__triangulo-element:first-child {
    top: 2.7rem;
    left: -2.2rem;
    transform: translateX(-200%) translateY(-55%);
}
.figure__triangulo-element:last-child {
    top: 2.7rem;
    right: -2rem;
    transform: translateX(200%) translateY(-55%);
}
.figure__triangulo-element:nth-child(2) {
    top: 8.9rem;
    right: 50%;
    transform: translateX(55%) translateY(-150%);
}
/*! -----------------------Main-Figure-Triangulo-------------------------------------- */
/*! -------------------------Main-Fifure-3d-Esfera-------------------- */
@keyframes rotateEjeY {
    0% {
        transform: rotateX(-30deg) rotateY(0) ;

    }
    100% {
        transform: rotateX(-30deg) rotateY(360deg);
    }
}
.calculation__figure-esfera-3d-container {
    position: relative;
    margin-top: 0.5rem;
    margin-left: 1rem;
}
.calculation__figure-esfera-3d-fijo {
    
    display: flex;
    width: 8.5rem;
    height: 8.5rem;
    position: absolute;
    background-color: var(--clr);
    border-radius: 50%;
    transform-style: preserve-3d;
    position: absolute;
    border: 5px solid rgb(44, 146, 83); 
    top: 0px;
    left: 0px;
}
.calculation__figure-esfera-3d {
    display: flex;
    width: 8.5rem;
    height: 8.5rem;
    background-color: var(--clr);
    border: 5px dashed rgb(17, 16, 16); 
    border-radius: 50%;
    transform-style: preserve-3d;
    position: relative;
    animation-name: rotateEjeY;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
    align-self: center;
 } 
.calculation__figure-esfera-3d-element {
    position: absolute;
    width: 8.5rem;
    height: 8.5rem;
    border-radius: 50%;
    border: 5px dashed rgb(17, 16, 16);
    top: -5px;
    left: -5px;

}
.calculation__figure-esfera-3d-element:first-child {
    background-color: var(--clr);
}
.calculation__figure-esfera-3d-element:nth-child(2) {
    background-color: var(--clr);
    transform: rotateY(30deg);
}
.calculation__figure-esfera-3d-element:nth-child(3) {
    background-color: var(--clr);
    transform: rotateY(60deg);
}
.calculation__figure-esfera-3d-element:nth-child(4) {
    background-color: var(--clr);
    transform: rotateY(90deg);
}
.calculation__figure-esfera-3d-element:nth-child(5) {
    background-color: var(--clr);
    transform: rotateY(120deg);
}
.calculation__figure-esfera-3d-element:nth-child(6) {
    background-color: var(--clr);
    transform: rotateY(150deg);
}
.calculation__figure-esfera-3d-element:nth-child(7) {
    background-color: var(--clr);
    transform: rotateY(180deg);
}
.calculation__figure-esfera-3d-element:nth-child(8) {
    background-color: var(--clr);
    transform: rotateY(210deg);
}
.calculation__figure-esfera-3d-element:nth-child(9) {
    background-color: var(--clr);
    transform: rotateY(240deg);
}
.calculation__figure-esfera-3d-element:nth-child(10) {
    background-color: var(--clr);
    transform: rotateY(270deg);
}
.calculation__figure-esfera-3d-element:nth-child(11) {
    background-color: var(--clr);
    transform: rotateY(300deg);
}
.calculation__figure-esfera-3d-element:nth-child(12) {
    background-color: var(--clr);
    transform: rotateY(330deg);
}
.calculation__figure-esfera-3d-element:last-child {
    background-color: transparent;
    border: 5px solid transparent;
    transform: rotateY(0deg) rotateX(90deg) translateY(0rem);
    transform-style: preserve-3d;
    
}
.calculation__figure-esfera-3d-element:last-child::after {
    content: "";
    width: 8.5rem;
    height: 8.5rem;
    position: absolute;
    border-radius: 50%;
    top: -5px;
    left: -5px;
    background-color: var(--clr);
    border: 5px solid rgb(70, 69, 69);
    transform:translateZ(-100px);
    filter: blur(1rem) drop-shadow(0 0 1px rgb(0, 245, 94, 0.027))
    drop-shadow(0 0 5px rgb(0, 245, 94, 0.425))
    drop-shadow(0 0 5px rgb(0, 245, 94, 0.616))
    drop-shadow(0 0 5px rgb(0, 245, 94, 0.616))
    drop-shadow(0 0 10px rgb(0, 245, 94, 0.616))
    drop-shadow(0 0 20px rgb(0, 245, 94, 0.808));
    
}
/*! -------------------------Main-Fifure-3d-Esfera-------------------- */
/*! -----------------------Main-Figure-Circulo------------------------------------- */
.figure__circulo-container {
    display: flex;
}
.figure__circulo {
    width: 7rem;
    height: 7rem;
    background-color: var(--clr);
    border-radius: 50%;
    border: 5px dashed rgb(37, 37, 37);
    box-shadow: 0 0 2px 0 var(--clr);
    filter: drop-shadow(0 0 5px var(--clr));
    position: relative;
  
}
.figure__circulo-element {
    position: absolute;
    color: rgb(37, 37, 37);
    font-weight: 900;
    line-height: 0.9rem;
    text-shadow:0px 0px 10px var(--clr) ,
    0px 0px 10px var(--clr), 
    0px 0px 10px var(--clr),
    0px 0px 10px var(--clr);
    top: 50%;
    transform:translateY(-130%) translateX(1.5rem);
}
.figure__circulo-element::after{
    content: "";
    top: 50%;
    left: 0;
    width: 3.5rem;
    height: 5px;
    position: absolute;
    background-color: rgb(37, 37, 37);
    transform:  translateY(0.7rem) translateX(-1.5rem);
}
/*! -----------------------Main-Figure-Circulo-------------------------------------- */
/*! -----------------------Main-Button--------------------------------------- */
.figure__calculation-button-container {
    display: grid;
    grid-area: areaButton;
    grid-template-areas: 
    "areaButtonInfo areaButtonInfo"
    "areaButton1 areaButton2";
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    row-gap: 1rem;
    column-gap: 1rem;
}

.figure__calculation-button-info {
    width: 100%;
    grid-area: areaButtonInfo;
}
.figure__calculation-button {
    border-radius: 1rem;
    padding: 0.5rem 2rem 0.5rem 0.5rem;
    border: none;
    font-size: 0.9rem;
    font-weight: 500;
    box-shadow: 0px 0px 0 2px white;
    background: rgb(44, 42, 42);
    color: white;
    position: relative;
    letter-spacing: 1px;
    width: min-content;
    height: min-content;
}
.figure__calculation-button-perimetro {
    grid-area: areaButton1;
    justify-self: end;
}
.figure__calculation-button::after {
    content: "";
    width: 1rem;
    height: 1rem;
    background-color: var(--clr);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.5rem;
    filter: drop-shadow(0 0 5px var(--clr)) drop-shadow(0 0 3px var(--clr))
    ;
}
.figure__calculation-button-area {
    grid-area: areaButton2;
    justify-self: start;
}
.figure__calculation-button-altura {
    grid-area: areaButton3;
}

/*! -----------------------Main-Button-Figure-2------------------------------------- */
.figure2__calculation-button-container {
    grid-template-areas: 
    "areaButtonInfo areaButtonInfo"
    "areaButton1 areaButton1"
    "areaButton2 areaButton2";
    grid-template-columns: auto auto;
    grid-template-rows: min-content min-content;
    row-gap: 0rem;
}
.figure2__calculation-button {
    justify-self: center;
    margin-top: 1rem;
    padding-right: 2.5rem;
}
.figure2__calculation-button::after {
    content: "";
    width: 1.5rem;
    height: 1rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.5rem;
}
/*! -----------------------Main-Button-Figure-2------------------------------------- */
/*! -----------------------Main-Button-Figure-3------------------------------------- */
.figure3__calculation-button-container {
    grid-template-areas: 
    "areaButtonInfo areaButtonInfo"
    "areaButton1 areaButton1"
    "areaButton2 areaButton2"
    "areaButton3 areaButton3";
    grid-template-columns: auto auto;
    grid-template-rows: min-content min-content min-content;
    row-gap: 0rem;
}
.figure3__calculation-button {
    justify-self: center;
    margin-top: 1rem;
    padding-right: 2.5rem;
}
.figure3__calculation-button::after {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 1.2rem solid var(--clr);
    border-right: 0.7rem solid transparent;
    border-left: 0.7rem solid transparent;
    position: absolute;
    background-color: transparent;
    top: 50%;
    transform: translateY(-50%);
    right: 0.5rem;
    filter: drop-shadow(0 0 5px var(--clr)) drop-shadow(0 0 3px var(--clr))
    ;
}
/*! -----------------------Main-Button-Figure-3------------------------------------- */
/*! -----------------------Main-Button-Figure-3------------------------------------- */
.figure4__calculation-button-container {
    grid-template-areas: 
    "areaButtonInfo areaButtonInfo"
    "areaButton1 areaButton1"
    "areaButton2 areaButton2";
    grid-template-columns: auto auto;
    grid-template-rows: min-content min-content min-content;
    row-gap: 0rem;
}
.figure4__calculation-button {
    justify-self: center;
    margin-top: 1rem;
    padding-right: 2.5rem;
}
.figure4__calculation-button::after {
    border-radius: 50%;
}
/*! -----------------------Main-Button-Figure-3------------------------------------- */
/*! -----------------------Main-Button--------------------------------------- */
/*! -----------------------Main-Resultado--------------------------------------- */
.figure__resultado{
    background: var(--clr);
    display: none;
    border-radius: 0.5rem;
    padding: 0.7rem;
    margin-top: 1rem;
    color: black;
    margin-right: 0.5rem;
    font-weight:  500;
    font-size: 1.1rem;
}
.figure__resultado-cuadrado{
    grid-area: areaResultado;
}
.figure__resultado-rectangulo{
    grid-area: areaResultado;
}
.figure__resultado-triangulo{
    grid-area: areaResultado;
}
.figure__resultado-circulo{
    margin-top: 2rem;
    grid-area: areaResultado;
}
/*! -----------------------Main-Resultado--------------------------------------- */

/*? ----------------Footer------------------------ */
.footer {
    grid-area: footer;
    background-color: black;
}

.footer-addres {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.info-container {
    color: rgb(207, 207, 207);
    display: grid;
    padding: 1rem 0.5rem;
    grid-template-areas: 
    "info-page"
    "info-social"
    "info-contact";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 1rem;
}
.info-page-container , .info-social-container , .info-contact-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.info-page-container {
    grid-area: info-page;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.info-social-container {
    grid-area: info-social;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.info-contact-container {
    grid-area: info-contact;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}
.info-page__title , .info-social__title , .info-contact__title{
    font-size: 1.5rem;
}
.info-page__paragraph {
    font-size: 1rem;
}
.info-social__media {
    font-size: 1rem;
    display: flex;
    gap: 0.2rem;
    align-items: center;
}
.info-social__media-icon {
    font-size: 2rem;
}
.info-social__media:nth-child(2) .info-social__media-icon {
    color: rgb(255, 230, 0);
}
.info-social__media:nth-child(3) .info-social__media-icon {
    color: rgb(252, 56, 98);
}
.info-social__media:last-child .info-social__media-icon {
    color: rgb(25, 100, 238);
}
.info-contact__cellphone {
    font-size: 1rem;
    display: flex;
    gap: 0.2rem;
    align-items: center;
}
.info-contact__cellphone-icon {
    font-size: 2rem;
    color: rgb(5, 177, 28);
    
}